@use "~@battis/web-app-client/src/stylesheets/colors";
@use "~@battis/web-app-client/src/stylesheets/spacing";
@use "~@battis/web-app-client/src/stylesheets/css_tricks";
@use "./toggler";

.queue.manager {
  .manager {
    @include toggler.togglee;
    margin: 0;
    overflow: auto;
    font-size: small;

    .title {
      position: fixed;
      top: spacing.$padding-minor;
      right: calc(#{spacing.$padding-major} + #{css_tricks.$scrollbar-width});
      text-shadow: colors.$background 0 0 spacing.$padding-minor;
    }

    .files {
      width: 100%;
      overflow: auto;

      tr:nth-child(even) {
        background: colors.hslaReplace(colors.$focus, $lightness: 95%);
      }

      td {
        padding: spacing.$padding-minor
      }
    }
  }

  .toggler {
    @include toggler.toggler;
  }
}
