@use "~@battis/web-app-client/src/stylesheets/spacing";

.embed {
  --embeds: 1;

  .embed-wrapper {
    .multi-embed {
      height: 100%;
      inset: 0;
      display: flex;
      flex-direction: column;
      gap: spacing.$padding-major;

      iframe {
        position: relative;
        width: 100%;
        height: calc(((100% - 5.5em) / var(--embeds)) - #{spacing.$padding-major});
        border: none;
      }
    }
  }
}
