# disable Apache filename pattern matching via mod_negotiation (i.e. allow our routing to work)
Options -MultiViews

RewriteEngine On

# rewrite all requests to current client handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
